body{
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	background-color: #C1C1C1;
}

h1{
	font-weight: 300;
}
.centered {
	position: absolute;
  margin: 10% auto;
}

.powder-blue {
	background-color: #9ED3FF;
	margin: 5%;
	padding: 10%;
}